{% extends "layout.html" %}

{% block body %}

<nav class="navbar">
    <div class="container">
      <div class="navbar-brand"><a class="navbar-item" href="#">Pied Piper</a><a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="#">Features</a><a class="navbar-item" href="#">Enterprise</a><a class="navbar-item" href="#">Support</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">ICO</a>
            <div class="navbar-dropdown"><a class="navbar-item navbar-item-dropdown" href="#">Whitepaper</a><a class="navbar-item navbar-item-dropdown" href="#">Token</a></div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons"><a class="button is-light" href="#">Log in</a><a class="button is-primary" href="#">Sign up</a></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container has-text-centered py-4">
      <h2 class="title mb-6">Products</h2>
      <div class="columns">
        <div class="column">
          <a href="#">
            <div class="card">
              <div class="card-image"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
              <div class="card-content">
                <h3 class="title is-4">Official Pied Piper T-Shirt</h3>
                <p class="subtitle is-3">$499</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="#">
            <div class="card">
              <div class="card-image"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
              <div class="card-content">
                <h3 class="title is-4">Official Pied Piper T-Shirt</h3>
                <p class="subtitle is-3">$499</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="#">
            <div class="card">
              <div class="card-image"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
              <div class="card-content">
                <h3 class="title is-4">Official Pied Piper T-Shirt</h3>
                <p class="subtitle is-3">$499</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container has-text-centered py-4">
  
      <div class="columns">
        <div class="column">
          <a href="#">
            <div class="card">
              <div class="card-image"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
              <div class="card-content">
                <h3 class="title is-4">Official Pied Piper T-Shirt</h3>
                <p class="subtitle is-3">$499</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="#">
            <div class="card">
              <div class="card-image"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
              <div class="card-content">
                <h3 class="title is-4">Official Pied Piper T-Shirt</h3>
                <p class="subtitle is-3">$499</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="#">
            <div class="card">
              <div class="card-image"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
              <div class="card-content">
                <h3 class="title is-4">Official Pied Piper T-Shirt</h3>
                <p class="subtitle is-3">$499</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <nav>
    <div class="container">
      <div class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a><a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">…</span></li>
          <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
          <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
          <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
          <li><span class="pagination-ellipsis">…</span></li>
          <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <footer class="footer">
    <div class="container">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><a class="title is-4" href="#">Pied Piper</a></div>
        </div>
        <div class="level-right"><a class="level-item" href="#">Features</a><a class="level-item" href="#">Enterprise</a><a class="level-item" href="#">Support</a><a class="level-item" href="#">ICO</a></div>
      </div>
      <hr>
      <div class="columns">
        <div class="column">
          <div class="buttons"><a class="button" href="#"><img src="placeholder/icons/twitter.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/facebook-f.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/instagram.svg" alt=""></a></div>
        </div>
        <div class="column has-text-centered has-text-right-tablet">
          <p class="subtitle is-6">© 2020 Pied Piper. All right reserved.</p>
        </div>
      </div>
    </div>
  </footer>


{% endblock%}